@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#flex-container {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

#flex-container > .flex-item {
  flex: auto;
}

.line-break {
  width: 100%;
}

code {
  font-family: "JetBrains Mono";
  outline: none;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
}

.shape {
  animation: fade 2s linear 0s 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.shape-out {
  margin: 0 auto;
  animation: fadeOut 2s linear 0s infinite;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
