@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

code {
  font-family: "JetBrains Mono";

  /* 淡入*/
  animation: fade 2s linear 0s 1;
}

warp {
  white-space: wrap;
}

say {
  white-space: normal;
  margin-left: 10rpx;
  font-size: 30rpx;
  background-image: -webkit-linear-gradient(45deg, #00a0e9, #10d39d, #00a0e9, #10d39d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 200% 100%;
  font-family: "JetBrains Mono";

  /* 淡入*/
  animation: fade 2s linear 0s 1, masked-animation 4s linear infinite;
}

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.center {
  /* 置中 */
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  /* 防止元素被壓縮 */
  white-space: nowrap;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}